/* normalize */
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --main-color: rgb(255, 255, 255);
    --main-dark-color: rgb(0, 0, 0);
    --checkbox-color: rgb(0, 128, 0);
    --header-background-color: rgb(219, 76, 63);
    --nav-background-color: rgb(240, 240, 240);
    --nav-hover-color: rgb(229, 229, 229);
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul, h2, h3{
    padding: 0;
    margin: 0;
}

span {
    font-size: 1rem;
}

ul, li {
    list-style: none;
}

input {
    line-height: 1rem;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template: auto 85vh / 1fr;
    grid-template-areas: 
    'header'
    'main';
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    background-color: var(--header-background-color)
}

main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    grid-template-areas:'nav content';
}

nav {
    grid-area: nav;
    padding: 10px 30px;
    background-color: var(--nav-background-color)
}

/* li:not(.selectMenu li, .taskForm li, .dropdown li) {
    display: grid;
    grid-template: auto / 6fr 1fr;
    grid-template-areas: 'firstChild lastChild';
    column-gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 5px 15px;
} */

/* li > :nth-child(1){
    position: relative;
    grid-area: firstChild;
}

li > :nth-child(2){
    justify-self: center;
    grid-area: lastChild;
} */


/* .title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    align-content: center;
} */

/* .menu li:hover, */
/* .products button:hover,
.selectMenu li:hover,
.colorList li:hover,
.dropdown li:hover {
    background-color: var(--nav-hover-color);
} */

/* .menu .title::before, */
/* .products .title::before, */
/* .selectMenu .title::before */
/* .option > .title */
/* {
    content: '';
    width: 25px;
    height: 25px;
    background-size: cover;
} */

/* .products.right .title::before {
    background-image: url('../img/chevron-right.svg');
}

.products.down .title::before {
    background-image: url('../img/chevron-down.svg');
} */



/* li.box > .title::before,
li.box .wrap > .title::before {
    background-image: url('../img/box.png');
}
li.order > .title::before,
li.order .wrap>.title::before {
    background-image: url('../img/order.png');
}
li.calendar > .title::before {
    background-image: url('../img/calendar.png');
}
li.completed > .title::before {
    background-image: url('../img/completed.png');
}
li.flag .title::before {
    background-image: url('../img/flag.png');
} */

/* .products button,
.total {
    padding: 0 10px;
    border-radius: 10px;
} */


/* .productList .title::before, */
/* .colorHexCode .wrap > .title::before,
.productNameSelect li:nth-child(n+3) .title::before
{
    content: '';
    border-radius: 100%;
    background-color: var(--color-list);
    width: 10px;
    height: 10px;
    margin: 0 7.5px;
} */


/* .productList .wrap > button {
    display: none;
} */

/* .wrap {
    position: relative;
} */


/* .selectMenu { 
    display: none;
    position: absolute;
    border: 1px solid var(--main-dark-color);
    background-color: var(--main-color);
    border-radius: 10px;
    white-space: nowrap;
    left: 50%;
    top: 100%;
    overflow: hidden;
    transform: translateX(-50%);
    z-index: 1;
} */




/* 
.task p:nth-of-type(1) {
    margin: 20px 0;
}

.noTask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item:hover .total {
    display: none;
}

.item.showSelectMenu .total {
    display: none;
}

/* .productList .item:hover  .wrap > button {
    display: flex;
}

.productList .item.showSelectMenu  .wrap > button {
    display: flex;
} */

/* .item.showSelectMenu .selectMenu {
    display: block;
} */

/* .item:hover .option {
    display: flex;
}

.item.showSelectMenu .option {
    display: flex;
} */

/* .item.showSelectMenu .selectMenuButton {
    opacity: 1;
} */




/* 
.selectButton .wrap > button{
    border: 1px solid var(--main-dark-color);
}

.selectButton .wrap > button {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--main-color)
}

.selectButton .title::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: cover;
}

.selectButton .wrap>button:hover,
.submitButton>button:hover {
    filter: brightness(80%);
} */







/* ---------------------------------------------------- */

/* nav block */
nav .wrap {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    flex: 1;
    column-gap: 20px;
}


/* menu block */


.menu .item{
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.menu > .item {
    margin-top: 20px;
}

.menu .item:not(.products):hover {
    background-color: var(--nav-hover-color);
}

.menu .taskCount {
    flex: 0 1 25px;
    text-align: center;
}



/* icon block */

.icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-size: cover;
}

.icon.box {
    background-image: url('../img/box.png');
}

.icon.order {
    background-image: url('../img/order.png');
}

.icon.calendar {
    background-image: url('../img/calendar.png');
}

.icon.flag {
    background-image: url('../img/flag.png');
}
.icon.flag.critical {
    filter: invert(32%) sepia(68%) saturate(1344%) hue-rotate(333deg) brightness(94%) contrast(90%);
}
.icon.flag.high {
    filter: invert(48%) sepia(95%) saturate(1851%) hue-rotate(10deg) brightness(106%) contrast(94%);}
.icon.flag.medium {
    filter: invert(34%) sepia(93%) saturate(2503%) hue-rotate(205deg) brightness(92%) contrast(89%);
}
.icon.flag.low {
    filter: invert(65%) sepia(12%) saturate(2183%) hue-rotate(87deg) brightness(106%) contrast(82%);
}



/* content block */

.content {
    grid-area: content;
    padding: 30px 10%;
    overflow: scroll;
}

.content .title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .wrap {
    display: flex;
    padding: 10px 0;
    align-items: center;
    flex: 1;
    column-gap: 20px;
}


/* top block */

.top {
    display: flex;
    align-items: center;
}

.top .addButton {
    font-size: 2rem;
}

.top .optionButton {
    cursor: pointer;
    flex: 0 1 25px;
    margin-left: 20px;
    text-align: center;
}

/* taskForm block */

.taskForm {
    display: none;
    width: 600px;
    padding: 30px;
    margin-top: 10%;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, .1);
}

.taskForm label {
    font-size: 1.2rem;
    margin-bottom: 30px;
    display: block;
}

.taskForm textarea {
    border: 0;
    border-bottom: 1px solid var(--main-dark-color);
    min-height: 1.8rem;
    padding: 5px;
    font-size: 1rem;
    resize: none;
    overflow-y: hidden;
    width: 100%;
}

.taskForm textarea.disableOutline {
    outline: 0;
}


/* taskFormButtons block */

.taskFormButtons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.taskFormButtons input {
    cursor: pointer;
    appearance: none;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 10px;
}

.taskFormButtons input:hover {
    background-color: var(--nav-background-color)
}

.taskFormButtons input[type="time"] {
    letter-spacing: 1px;
}


.taskFormButtons input:focus{
    outline: none;
}

.taskFormButtons .dropdown {
    position: relative;
}

.taskFormButtons .dropdown .dropDownButton {
    padding: 5px 10px;
    border: 1px solid var(--main-dark-color);
    border-radius: 10px;
}


/* dropdownList block */

.taskFormButtons .dropdownList {
    position: absolute;
    max-height: 0;
    top: 100%;
    left: 0px;
    overflow: hidden;
    z-index: 1;
}

.taskFormButtons .dropDownButton.showList+.dropdownList {
    max-height: 1000px;
    border: 0;
    transition: max-height .1s ease-in;
}

.taskFormButtons .dropdownList ul {
    height: 100%;
    background-color: var(--main-color);
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    border: .5px solid var(--main-dark-color);
}

.taskFormButtons .dropdownList .item:hover {
    background-color: var(--nav-hover-color);
}


/* taskList block */

.taskList {
    margin: 30px 0;
}

.taskList .item {
    border-bottom: 1px solid var(--main-dark-color);
    border-radius: 0;
    padding: 0 10px;
    margin: 20px 0;
    position: relative;
    cursor: pointer;
}


.taskList .optionButton {
    display: none;
    cursor: pointer;
    flex: 0 1 25px;
    text-align: center;
    color: rgb(160, 160, 160);
}
.taskList .item:hover .optionButton {
    display: block;
}
.taskList .option.active .optionButton{
    display: block;
    color: rgb(0, 0, 0);
}
.taskList .optionButton:hover {
    color: rgb(0, 0, 0);
}


/* task checkbox block */
.taskList .item input[type="checkbox"] {
    appearance: none;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 15px;
    width: 25px;
    height: 25px;
    border: 2px solid var(--main-dark-color);
    border-radius: 50px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.taskList .item input[type="checkbox"] {
    border-color: blueviolet;
}

.taskList .item input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-image: url('../img/check.png');
    background-size: cover;
}

.taskList .item input[type="checkbox"]:checked::before {
    transform: scale(.9);
    filter: invert(21%) sepia(98%) saturate(4405%) hue-rotate(109deg) brightness(95%) contrast(102%);
}

.taskList .item input[type="checkbox"]:checked {
    border-color: var(--checkbox-color);
}

.taskList .item input[type="checkbox"]:hover {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}




/* products block */

.products {
    position: relative;
}

.products.arrowDown + .productList {
    max-height: 300px;
    height: 300px;
    transition: max-height .2s ease-in;
}

li.products.arrowRight .icon {
    background-image: url('../img/chevron-right.svg');
    transition: transform .2s ease-in-out;
}

li.products.arrowRight.arrowDown .icon {
    transform: rotate(90deg);
}

.products .addButton {
    font-size: 1.5rem;
    cursor: pointer;
    flex: 0 1 25px;
    text-align: center;
    border-radius: 5px;
    padding: 0 5px;
}

.products .addButton:hover {
    background-color: var(--nav-hover-color);
}


/* productList block */

.productList {
    max-height: 0;
    overflow: hidden;
    transition: max-height .15s ease-out;
}

.productList > ul {
    height: 100%;
    overflow-y: scroll;
}

.productList .icon{
    width: 10px;
    height: 10px;
    margin: 0 7.5px;
    border-radius: 50%;
    background-color: var(--product-color)
}

.productList .title {
    width: 150px;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.productList .optionButton {
    cursor: pointer;
    flex: 0 1 25px;
    text-align: center;
    color: rgb(160, 160, 160);
}

.productList .optionButton:hover {
    color: rgb(0, 0, 0);
}


/* optionList */

.optionList {
    position: fixed;
    border: 1px solid black;
    background-color: #fff;
    z-index: 1;
    font-size: 1rem;
    white-space: nowrap;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.option.active .optionList{
    visibility: visible;
    pointer-events: auto;
}


.optionList button {
    width: 100%;
    padding: 10px;
}




/* overlay block */

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);
    justify-content: center;
    align-items: flex-start;
}

.overlay.show {
    display: flex;
}

.overlay.show form.active {
    display: block;
}

.overlay .wrap {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    flex: 1;
    column-gap: 20px;
}

.overlay .item {
    display: flex;
    align-items: center;
}


/* productForm  block */

.productForm {
    display: none;
    width: 400px;
    padding: 30px;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 10px;
}

.productForm h3 {
    padding-bottom: 10px;
}

.productForm label{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.productForm [name="name"] {
    margin-top: 10px;
    border: 0;
    border-bottom: 1px solid var(--main-dark-color);
    min-height: 1.8rem;
    padding: 5px;
}

.productForm [name="name"].disableOutline {
    outline: 0;
}


.productForm {
    display: flex;
    align-items: center;
}

.productForm .icon {
    width: 10px;
    height: 10px;
    margin: 0 7.5px;
    border-radius: 50%;
    background-color: var(--product-color);
    display: inline-block;
}

.productForm .colorButton {
    border-radius: 5px;
    border: 1px solid var(--main-dark-color);
    width: 100%;
    transition: border-radius .2s ease-in;
}

.productForm .colorButton.showList {
    border-radius: 5px 5px 0 0;
    transition: border-radius .05s ease-in;
}

.productForm .colorButton.showList+.dropdownList {
    max-height: 100px;
    transition: max-height .1s ease-in;
}


/* dropdown block */

.dropdown {
    position: relative;
}

/* dropdownList block */

.dropdownList {
    position: absolute;
    max-height: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    transition: max-height .15s ease-out;
}
.dropdownList > ul {
    background-color: var(--main-color);
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--main-dark-color);
    border-top: 0;
}
.dropdownList .item:hover {
    background-color: var(--nav-hover-color);
}

/* submitButton block */

.submitButton {
    margin-top: 30px;
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
}

.submitButton button {
    border-radius: 10px;
    padding: 5px 10px;
}

.submitButton .cancel {
    background-color: var(--nav-background-color)
}

.submitButton .cancel:hover {
    background-color: var(--main-dark-color);
    color: var(--nav-background-color);
}

.submitButton .submit {
    color: var(--main-color);
    background-color: var(--header-background-color)
}

.submitButton .submit:hover {
    color: var(--main-dark-color);
}