/* normalize */
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --main-color: rgb(255, 255, 255);
    --main-dark-color: rgb(0, 0, 0);
    --checkbox-color: rgb(0, 128, 0);
    --header-background-color: rgb(219, 76, 63);
    --nav-background-color: rgb(245, 245, 245);
    --nav-hover-color: rgb(238, 238, 238);
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul,
h2, h3, p {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

input {
    line-height: 1rem;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template: auto 85vh / 1fr;
    grid-template-areas: 
    'header'
    'main';
    min-height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    background-color: var(--header-background-color)
}

main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    grid-template-areas:'nav content';
}

nav {
    grid-area: nav;
    padding: 10px 30px;
    background-color: var(--nav-background-color)
}

li:not(.selectMenu li, .taskForm li, .dropdown li) {
    display: grid;
    grid-template: auto / 6fr 1fr;
    grid-template-areas: 'firstChild lastChild';
    column-gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 5px 15px;
}

nav ul {
    margin: 10px 0;
}

li > :nth-child(1){
    position: relative;
    grid-area: firstChild;
}

li > :nth-child(2){
    justify-self: center;
    grid-area: lastChild;
}

.menu .title,
.products .title,
.productList .title,
.taskList li {
    cursor: pointer;
    padding: 10px 0;
}

.title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    align-content: center;
}

.menu li:hover,
.products button:hover,
.selectMenu li:hover,
.colorList li:hover,
.dropdown li:hover {
    background-color: var(--nav-hover-color);
}

.menu .title::before,
.products .title::before,
.selectMenu .title::before,
.option > .title
{
    content: '';
    width: 25px;
    height: 25px;
    background-size: cover;
}

.products.right .title::before {
    background-image: url('../img/chevron-right.svg');
}

.products.down .title::before {
    background-image: url('../img/chevron-down.svg');
}

.productList {
    max-height: 0;
    overflow: hidden;
    transition: max-height .15s ease-out;
}

.products.down + .productList {
    max-height: 500px;
    transition: max-height .2s ease-in;
}

li.box > .title::before,
li.box .wrap > .title::before {
    background-image: url('../img/box.png');
}
li.order > .title::before,
li.order .wrap>.title::before {
    background-image: url('../img/order.png');
}
li.calendar > .title::before {
    background-image: url('../img/calendar.png');
}
li.completed > .title::before {
    background-image: url('../img/completed.png');
}
li.flag .title::before {
    background-image: url('../img/flag.png');
}

.products button,
.total {
    padding: 0 10px;
    border-radius: 10px;
}

.products button:hover,
.top>button:hover,
.option button:not(.selectMenu button):hover,
.productList .wrap>button:hover {
    opacity: 1;
}

.products button,
.top>button,
.option button:not(.selectMenu button),
.productList .wrap>button {
    font-size: 1.5rem;
    opacity: .5;
    vertical-align: middle;
}

.productList .title::before,
.colorButton::before,
.dropdown .title::before,
.productNameSelect li:nth-child(n+3) .title::before {
    content: '';
    border-radius: 100%;
    background-color: var(--color-list);
    width: 10px;
    height: 10px;
    margin: 0 7.5px;
}


.productList .wrap > button {
    display: none;
}

.wrap {
    position: relative;
}


.selectMenu { 
    display: none;
    position: absolute;
    border: 1px solid var(--main-dark-color);
    background-color: var(--main-color);
    border-radius: 10px;
    white-space: nowrap;
    left: 50%;
    top: 100%;
    overflow: hidden;
    transform: translateX(-50%);
    z-index: 1;
}

.content {
    grid-area: content;
    padding: 30px 10%;
    overflow: scroll;
    position: relative;
}



.top .wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top .wrap > button {
    font-size: 2rem;
}

.taskList {
    margin: 30px 0;
}


/* custom checkbox */
.taskList input[type="checkbox"] {
    appearance: none;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 15px;
    width: 25px;
    height: 25px;
    border: 2px solid var(--main-dark-color);
    border-radius: 50px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.taskList input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-image: url('../img/check.png');
    background-size: cover;
}

.taskList input[type="checkbox"]:checked::before {
    transform: scale(.9);
    filter: invert(21%) sepia(98%) saturate(4405%) hue-rotate(109deg) brightness(95%) contrast(102%);
}

.taskList input[type="checkbox"]:checked {
    border-color: var(--checkbox-color);
}

.taskList input[type="checkbox"]:hover {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}

.taskList li.item {
    border-bottom: 1px solid var(--main-dark-color);
    border-radius: 0;
    padding: 20px;
}

.taskForm .title {
    padding: 15px 20px;
    width: 100%;
}

.task p:nth-of-type(1) {
    margin: 20px 0;
}

.noTask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option {
    display: none;
    align-self: flex-start;
    align-items: center;
    column-gap: 20px;
}

.item:hover .total {
    display: none;
}

.item.showSelectMenu .total {
    display: none;
}

.productList .item:hover  .wrap > button {
    display: flex;
}

.productList .item.showSelectMenu  .wrap > button {
    display: flex;
}

.item.showSelectMenu .selectMenu {
    display: block;
}

.item:hover .option {
    display: flex;
}

.item.showSelectMenu .option {
    display: flex;
}

.item.showSelectMenu .selectMenuButton {
    opacity: 1;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    justify-content: center;
    align-items: flex-start;
}

.overlay.showForm{
    display: flex;
    background-color: rgba(0, 0, 0, .2);
}

.overlay.showForm .taskForm.active,
.overlay.showForm .productForm.active {
    display: block;
}

.taskForm {
    display: none;
    width: 600px;
    padding: 30px;
    margin-top: 10%;
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, .1);
}


.taskForm textarea {
    font-size: 1rem;
    resize: none;
    overflow-y: hidden;
}

.selectButton .wrap > button{
    border: 1px solid var(--main-dark-color);
}

.selectButton .wrap > button,
.submitButton > button {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--main-color)
}

.selectButton .title::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: cover;
}

.selectButton .wrap>button:hover,
.submitButton>button:hover {
    filter: brightness(80%);
}

.selectButton>li:nth-child(2) .title.critical::before {
    filter: invert(32%) sepia(68%) saturate(1344%) hue-rotate(333deg) brightness(94%) contrast(90%);
}
.selectButton>li:nth-child(2) .title.high::before{
    filter: invert(48%) sepia(95%) saturate(1851%) hue-rotate(10deg) brightness(106%) contrast(94%);
}
.selectButton>li:nth-child(2) .title.medium::before{
    filter: invert(34%) sepia(93%) saturate(2503%) hue-rotate(205deg) brightness(92%) contrast(89%);
}
.selectButton>li:nth-child(2) .title.low::before{
    filter: invert(65%) sepia(12%) saturate(2183%) hue-rotate(87deg) brightness(106%) contrast(82%);
}


.submitButton .cancelButton {
    background-color: var(--nav-background-color)
}

.submitButton .addButton {
    color: var(--main-color);
    background-color: var(--header-background-color)
}


.buttons {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr 1fr;
    grid-template-areas: 
    'datePicker selectButton ............'
    'timePicker ............ submitButton';
    align-items: center;
    gap: 20px 10px;
}

.datePicker {
    grid-area: datePicker;
    
}


.timePicker {
    display: none;
    grid-area: timePicker;
}

.timePicker.active {
    display: block;
}

.selectButton {
    grid-area: selectButton;
}

.submitButton {
    justify-content: flex-end;
    grid-area: submitButton;
}

.selectButton,
.submitButton {
    display: flex;
    column-gap: 10px;
}

input[type="date"],
input[type="time"] {
    width: 100%;
    appearance: none;
    border: 0;
}

input[type="time"]:focus,
input[type="date"]:focus {
    outline: none;
}



/* menu block */


.menu li:not(.productList) {
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.menu > li:not(.productList) {
    margin-top: 20px;
}

.menu li:not(.productList, .products):hover {
    background-color: var(--nav-hover-color);
}

.wrap {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    flex: 1;
    column-gap: 20px;
}

.icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-size: cover;
}

li.box .icon {
    background-image: url('../img/box.png');
}

li.order .icon {
    background-image: url('../img/order.png');
}

li.calendar .icon {
    background-image: url('../img/calendar.png');
}

/* li.order>.title::before,
li.order .wrap>.title::before {
    background-image: url('../img/order.png');
}

li.calendar>.title::before {
    background-image: url('../img/calendar.png');
}

li.completed>.title::before {
    background-image: url('../img/completed.png');
}

li.flag .title::before {
    background-image: url('../img/flag.png');
} */


.title {
    flex: 1;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.taskCount{
    flex: 0 1 25px;
    text-align: center;
}



/* products block */

.products.arrowDown + .productList {
    max-height: 300px;
    transition: max-height .2s ease-in;
}

li.products.arrowRight .icon {
    background-image: url('../img/chevron-right.svg');
}

li.products.arrowDown .icon {
    background-image: url('../img/chevron-down.svg');
}

.addButton {
    font-size: 1.5rem;
    cursor: pointer;
    flex: 0 1 25px;
    text-align: center;
    border-radius: 5px;
    padding: 0 5px;
}

.addButton:hover {
    background-color: var(--nav-hover-color);
}


/* productList block */

.productList {
    max-height: 0;
    overflow: hidden;
    transition: max-height .15s ease-out;
}

.productList ul {
    height: 300px;
    overflow: scroll;
}

li.productList .icon{
    width: 10px;
    height: 10px;
    margin: 0 7.5px;
    border-radius: 50%;
    background-color: var(--product-color)
}


li.productList li {
    align-self: baseline;
}

.option {
    font-size: 1.5rem;
    cursor: pointer;
    align-self: baseline;
    flex: 0 1 25px;
    text-align: center;
    color: rgb(160, 160, 160);
}

.option:hover {
    color: rgb(0, 0, 0);
}

.productForm {
    display: none;
    width: 400px;
    padding: 30px;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 10px;
}

.productForm h3 {
    padding-bottom: 30px;
}

.productForm label,
.taskForm label,
.colorSelect {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.productForm input,
.productForm .colorButton,
.taskForm textarea {
    margin-top: 10px;
    border: 0;
    border-bottom: 1px solid var(--main-dark-color);
    min-height: 1.8rem;
    padding: 5px;
}

.productForm input.disableOutline,
.taskForm textarea.disableOutline {
    outline: 0;
}

.productForm .colorButton {
    border-radius: 5px;
    border: 1px solid var(--main-dark-color);
    padding: 5px 15px;
}

.productForm.showDropdown .dropdown{
    visibility: visible;
    overflow: scroll;
}

.productForm.showDropdown .colorButton{
    border-radius: 5px 5px 0 0;
}

.dropdown {
    visibility: hidden;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--main-dark-color);
    max-height: 100px;
    border-top: 0;
}

.dropdown li {
    border-radius: 0;
    
}

.dropdown .title {
    padding: 5px 15px;
    width: 100%;
}